/* cores do projeto */

$primary-color: #FF5722; 
$primarya-color: #f89070; 
$secondary-color: #673AB7; 
$terciary-color: #9465e4; 
$text-dark: #212121; 
$text-dark-dois: #504f4f; 
$text-light: #F5F5F5; 
$text-light-dois: #f5dede; 
$background-light: #FFFFFF; 
$background-offlight: 	#FFFAF0; 
$background-dark: #424242; 
$light-gray: #E0E0E0; 
$light-gray-dois: #cccccc; 