/* cores do projeto */

$primary-color: #FF5722; 
$secondary-color: #673AB7; 
$text-dark: #212121; 
$text-light: #F5F5F5; 
$background-light: #FFFFFF; 
$background-dark: #424242; 
$light-gray: #E0E0E0; 