<header class="header">
  <a routerLink="/home">
    <img src="./logo_sf.png" alt="PurrfectCare - Especializada em Felinos"/>
  </a>

  <nav class="navigation">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          Início
        </a>
      </li>
      <li>
        <a routerLink="/sobre" routerLinkActive="active">
          Sobre
        </a>
      </li>
      <li>
        <a routerLink="/servicos" routerLinkActive="active">
          Serviços
        </a>
      </li>
      <li>
        <a routerLink="/contato" routerLinkActive="active">
          Contato
        </a>
      </li>
    </ul>
  </nav>
</header>

