@use './app/styles/variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: vars.$background-light;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 80%;
    margin: auto;
}